<launch>
    <node
        pkg="hardware_control"
        name="move_motors_node"
        type="move_motors_node.py"
        output="screen"
    />
    <node
        pkg="hardware_control"
        name="camera_image_node"
        type="camera_image_node.py"
        output="screen"
    />
    <node
        pkg="walk_sense"
        name="walk_control_node"
        type="walk_control_node.py"
        output="screen"
    />
    <!-- <node
        pkg="walk_sense"
        name="seeker_control_node"
        type="seeker_control_node.py"
        output="screen"
    /> -->
    <node
        pkg="walk_sense"
        name="gait_update_node"
        type="gait_update_node.py"
        output="screen"
    />
    <node
        pkg="walk_sense"
        name="camera_image_target_processing"
        type="camera_image_target_processing.py"
        output="screen"
    />
    <node
        pkg="walk_sense"
        name="range_sensor_control_node"
        type="range_sensor_control_node.py"
        output="screen"
    />
    <node
        pkg="walk_sense"
        name="pose_control_node"
        type="pose_control_node.py"
        output="screen"
    />
</launch>